<!DOCTYPE html>
<html lang="en">
  <%- include('head.ejs') %>

  <body class="container shadow">
    <noscript> Please turn on JavaScript or change browsers!</noscript>

    <%- include('header.ejs') %>

    <!-- <main class="container text-center" role="main">
      <img
        class="img-fluid mx-auto d-block"
        loading="lazy"
        src="/images/Error.png"
        loading="lazy"
        alt="not_found"
      />
    </main> -->
    <div>      <h1 class="text-center font-weight-bolder">PRIVACY POLICY </h1>
        </div></br>


        The privacy policy governs the collection, usage and sharing of private information provided by the user to NABA. User privacy is a top priority for NABA and all efforts will be made to prevent unauthorised use of any private information divulged to NABA. NABA collects information from its users for the reservation and improvement of services and for the purpose of user safety. A user must be in agreement with the terms and conditions of this privacy policy in order to avail NABA services. The user is free to suspend or terminate the services of NABA by revoking his consent to the privacy policy or by deleting his account.
        
        NON PERSONAL INFORMATION
        NABA collects non-personal information which has no direct relation to any specific individual; including but not limited to IP addresses, usage details and identifying technologies. NABA reserves the right to collect, use, transfer and disclose non-personal information for any purpose. In the event of combining personal and non-personal information, both will be treated as personal.</br>
    </br></br></br></br></br></br></br></br>    </br></br></br></br></br></br></br></br></br></br></br></br></br></div>

    <%- include('footer.ejs') %>
  </body>
</html>
