<!DOCTYPE html>
<html lang="en">
  <%- include('head.ejs') %>

  <body class="container shadow">
    <noscript> Please turn on JavaScript or change browsers!</noscript>

    <%- include('header.ejs') %>

    <!-- <main class="container text-center" role="main">
      <img
        class="img-fluid mx-auto d-block"
        loading="lazy"
        src="/images/Error.png"
        loading="lazy"
        alt="not_found"
      />
    </main> -->
    <div>Privacy Policy effective from 31st October 2016

        The privacy policy governs the collection, usage and sharing of private information provided by the user to Drivezy. User privacy is a top priority for Drivezy and all efforts will be made to prevent unauthorised use of any private information divulged to Drivezy. Drivezy collects information from its users for the delivery and improvement of services and for the purpose of user safety. A user must be in agreement with the terms and conditions of this privacy policy in order to avail Drivezy services. The user is free to suspend or terminate the services of Drivezy by revoking his consent to the privacy policy or by deleting his account.
        
        
        PERSONAL INFORMATION
        Drivezy collects certain information from its users for the purpose of ‘user identification’. The following information is collected by Drivezy when an applicant applies for membership on its website or smartphone based applications:
        
        Name
        Contact Number
        Postal Address
        E-mail Address
        By providing the above information, the applicant has voluntarily agreed to the terms and condition of this document.
        
        The following information is collected from the user during the rental period:
        Location: Drivezy has installed GPS tracking devices in all its vehicles in order to ensure the safety of the passengers and the vehicle. The location of all Drivezy vehicles is tracked in real-time. The information will not be divulged publicly. However, the information may be shared with the concerned authorities such as the police or similar parties in the event of an accident or mishap. Drivezy reserves the right to share any information pertaining to the location of the vehicle with insurance companies in the event of any damage/accident claim or theft.
        Vehicle Use Data: Data related to vehicle use is collected and monitored by Drivezy in order to prevent misuse and theft of the vehicle.
        Drivezy has the right to access a user’s driver record and vehicle history from the concerned authorities. By becoming a member of Drivezy, the user authorizes all DMV’s, RMV’s, automobile mechanics and any relevant authority to release the user’s driving records and vehicle history.
        
        
        NON PERSONAL INFORMATION
        Drivezy collects non-personal information which has no direct relation to any specific individual; including but not limited to IP addresses, usage details and identifying technologies. Drivezy reserves the right to collect, use, transfer and disclose non-personal information for any purpose. In the event of combining personal and non-personal information, both will be treated as personal.
        
        
        COOKIES
        Cookies are used by Drivezy to collect non-identifiable information. A cookie is a piece of data that a website can send to your browser, which may then be stored on your computer as an anonymous tag that identifies your computer but not you. Drivezy uses cookies on some pages of its website with the intent to enhance service. The information is shared with third party vendors. The user is free to disable the sharing of cookies on his/her web browser, however this may lead to hindrance in a few services.
        
        
        Drivezy reserves the right to change its Privacy Policy at any point of time. The user shall be notified in such an event through our website and/or by an e-mail. In the event of any disagreement, the user is free to suspend or terminate Drivezy services by deleting his/her account.</div>

    <%- include('footer.ejs') %>
  </body>
</html>
