<!DOCTYPE html>
<html lang="en">
  <%- include('head.ejs') %>

  <body class="container shadow">
    <noscript> Please turn on JavaScript or change browsers!</noscript>

    <%- include('header.ejs') %>

    <main class="container text-container text-justify" role="main">
      <h1 class="text-center font-weight-bolder">Terms of use</h1>

      <div class="mb-3">
        
In addition to the vehicle the following is included in the car rental: All tires, tools, documents, accessories as well as equipment.  The renter agrees to all conditions and terms printed on this contract and to the information written on the contract with the same number and date as these car rental terms.
1. The renter fully agrees to the terms and conditions of this contract and has received a copy thereof.
2. The renter has received the mentioned vehicle and its accessories in proper and safe condition.
3. The renter agrees to return the vehicle to the lessor on the agreed date and place, as written in the contract, or earlier if the lessor so insists.
4. Liability and driver insurance are according to Icelandic law. Third party liability insurance shall be equivalent to the amount stipulated by the car's insurance company at each time. The renters own liability for damages on the car is limited to the worth of the car.
5. The collision damage waiver (CDW) does not cover:
a) Damages done on purpose or by total carelessness of the driver.
b) Damages caused when the driver is intoxicated, under the influence of drugs, or by any other cause which renders him unfit to safely drive a vehicle.
c) Damages to the engine caused by water, such as when crossing un-bridged rivers or driving in water.
d) Damages which occur while the car is being raced or test-driven.
e) Damages caused through war activity, mutiny, riots, and uproar or by sabotage.
f) Burns on seats, carpets or floor mats.
g) Damages to wheels, tires, springs, batteries, glass (lights & windows), and radio as well as damages caused by theft of certain parts of the vehicle.
h) Damages caused by driving on bumpy roads on parts such as:
transmission, drive shafts, or other parts in or on the vehicle's under wagon. Damages which occur on the under wagon when the vehicle hits the uneven road, such as ridges left by road planers, or rocks stuck in the road or the roadside. Same applies to damages which occur when loose rocks or other items hit the vehicle while it is being driven.
i) Damages caused when the vehicle is driven where driving is forbidden, also by driving off-road, on trails not marked on charts as normal roads, on snow piles, on ice, over un-bridged rivers or streams, on beaches, in dirt or on any other kind of off-roads.
j) Damages when sand, gravel, ash, lava or other earth materials are blown on the vehicle.
k) Should the vehicle be moved by sea, damages caused to it by the ocean water will not be paid.
l) Damages caused by the wind blowing up the door while opening it.
m) Other cases are referred to the general conditions of the comprehensive vehicle insurance.
6. The car must be operated and driven with great care. The renter shall be liable for all damage to the car and injury sustained by passengers caused by collision or accident, which is not paid by the insurance company of the vehicle.
 
7. In case of a collision or accident, the renter must report it instantly to law enforcement authorities and to the lessor, and must not leave the scene of the accident or collision until such action has been taken and after the police has arrived on the scene.
8. Renter shall return the vehicle to the office of the lessor which has been agreed upon at the beginning of the rental period, along with all tires, tools, accessories and equipment in same condition as it was when received, though ordinary wear and tear is accepted. Lessor may repossess the vehicle without notice at any time if it is illegally parked, used in violation of law, against the terms of this agreement or is apparently abandoned.
9. Under no circumstances is it permitted to use the vehicle, operate or drive:
a) In violation of Icelandic law, or the conditions and terms of this contract.
b) For the transportation of passengers or property against payment.
c) To propel or tow any vehicle, trailer or other objects.
d) By any person other than the renter signing this contract, unless by written consent of lessor.
e) Off-roads, that is roads that are not marked as normal driving roads on a road map.
10. Any violation of Icelandic law, or of any of the terms or conditions of this contract, by the renter or any other driver which the renter has granted permission to operate or drive the vehicle, renders the renter is fully responsible for all damages done to the vehicle what ever the cause may be.
11. The number of kilometers (km) the vehicle is driven while this contract is valid is decided by reading the standard km reading device (speedometer) attached to the vehicle by the manufacturer. Renter shall report immediately if the speedometer is not working or seizes to function during the rental period.
12. Lessor shall not be liable for disappearance or damage to any property left, stored or transported by renter or other persons, in or on the vehicle, either before or after it has been returned to lessor.
13. Renter agrees to pay lessor on demand:
a) Deposit of the probable rental cost.
b) All expenses incurred by lessor in returning the vehicle back to lessor's station, if it has been left somewhere else, regardless of condition of the vehicle, roads or weather.
c) A sum equal to the value of all the tires (regardless of road conditions), the tools and accessories which have been damaged, lost or stolen from the vehicle.
      </div>
    </main>

    <%- include('footer.ejs') %>
  </body>
</html>
